.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

h1 {
  font-size: 15px;
}

.card-text h3 {
  font-size: 1.5em;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin-top: 10%;
}
@media (max-width: 760px) {
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
  }
}

.card-img-bottom {
  width: 300px;
  height: 300px;
}
.main {
  display: flex;
  margin: 0 15% 0 15%;
  justify-content: center;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
}
@media (max-width 760px) {
  .main {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
  }
}
.card {
  margin: 0 70px 0 70px;
}
.about-paragraph {
  margin: 0 25%;
  line-height: 1.5;
  font-size: 20px;
}
@media (max-width: 760px) {
  .about-paragraph {
    margin: 0 15%;
    font-size: 18px;
  }
}

h3 {
  color: #007bff;
}
